.container-fluid {
    padding: 0;
    top: 0;
    width: 100%;
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    background-image: url("/images/wine4.jpg");
}

.navbar,.navbar-dark,.bg-primary,.jumbotron {background-color:transparent}
.navbar,.navbar-dark,.bg-primary{background-color:rgba(0,0,0,.2) !important}